@{
    ViewBag.Title = "Testimoniale";
}

<!-- testimonials section start -->
<div class="testimonials_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="testimonials_title">Ce Spun Clienții Noștri</h1>
                <p class="testimonials_subtitle">Opinii sincere de la clienții care au experimentat produsele Beauty Moldova</p>
            </div>
        </div>
        
        <div class="testimonials_tabs">
            <ul class="nav nav-tabs" id="testimonialsTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab">Toate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="face-tab" data-toggle="tab" href="#face" role="tab">Îngrijire Față</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="body-tab" data-toggle="tab" href="#body" role="tab">Îngrijire Corp</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="hair-tab" data-toggle="tab" href="#hair" role="tab">Îngrijire Păr</a>
                </li>
            </ul>
        </div>
        
        <div class="tab-content" id="testimonialsTabContent">
            <div class="tab-pane fade show active" id="all" role="tabpanel">
                <div class="row">
                    <!-- Testimonial 1 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="testimonial_card">
                            <div class="testimonial_rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="testimonial_text">
                                <p>"Am comandat crema hidratantă cu lavandă și sunt foarte mulțumită. Are un parfum delicat și natural, iar textura este ușoară și se absoarbe rapid. Pielea mea a devenit mai moale și mai hidratată după doar câteva zile de utilizare. Recomand cu încredere!"</p>
                            </div>
                            <div class="testimonial_author">
                                <div class="author_img">
                                    <img src="~/Content/images/client-img.png" alt="Maria Popescu">
                                </div>
                                <div class="author_info">
                                    <h4>Maria Popescu</h4>
                                    <p>Chișinău</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Testimonial 2 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="testimonial_card">
                            <div class="testimonial_rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="testimonial_text">
                                <p>"Am descoperit de curând produsele Beauty Moldova și am fost plăcut surprins de calitatea lor. Masca facială cu argilă de Orhei este extraordinară - am simțit imediat cum pielea mea a devenit mai curată și mai proaspătă. Apreciez foarte mult faptul că folosesc ingrediente locale."</p>
                            </div>
                            <div class="testimonial_author">
                                <div class="author_img">
                                    <img src="~/Content/images/client-img.png" alt="Ion Rusu">
                                </div>
                                <div class="author_info">
                                    <h4>Ion Rusu</h4>
                                    <p>Bălți</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Testimonial 3 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="testimonial_card">
                            <div class="testimonial_rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                            <div class="testimonial_text">
                                <p>"Uleiurile esențiale de la Beauty Moldova sunt superbe! Le folosesc atât pentru aromaterapie cât și în rutina mea de îngrijire. Calitatea este excepțională și apreciez foarte mult că sunt produse în Moldova. Voi continua să susțin acest brand local."</p>
                            </div>
                            <div class="testimonial_author">
                                <div class="author_img">
                                    <img src="~/Content/images/client-img.png" alt="Elena Lungu">
                                </div>
                                <div class="author_info">
                                    <h4>Elena Lungu</h4>
                                    <p>Orhei</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Testimonial 4 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="testimonial_card">
                            <div class="testimonial_rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="testimonial_text">
                                <p>"Am primit un set de produse Beauty Moldova cadou și m-am îndrăgostit imediat de ele. Crema de mâini cu unt de shea și ceară de albine din Codru este cea mai bună pe care am folosit-o vreodată. Chiar și după ce spăl vasele, mâinile mele rămân hidratate și protejate."</p>
                            </div>
                            <div class="testimonial_author">
                                <div class="author_img">
                                    <img src="~/Content/images/client-img.png" alt="Ana Cebotari">
                                </div>
                                <div class="author_info">
                                    <h4>Ana Cebotari</h4>
                                    <p>Cahul</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Testimonial 5 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="testimonial_card">
                            <div class="testimonial_rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="testimonial_text">
                                <p>"Apa micelară cu extract de trandafir este perfectă pentru ten sensibil ca al meu. Curăță perfect machiajul fără să usuce pielea. Am încercat multe mărci internaționale, dar mă bucur că am găsit ceva local, de calitate și la un preț accesibil."</p>
                            </div>
                            <div class="testimonial_author">
                                <div class="author_img">
                                    <img src="~/Content/images/client-img.png" alt="Daniela Munteanu">
                                </div>
                                <div class="author_info">
                                    <h4>Daniela Munteanu</h4>
                                    <p>Soroca</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Testimonial 6 -->
                    <div class="col-lg-4 col-md-6">
                        <div class="testimonial_card">
                            <div class="testimonial_rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="testimonial_text">
                                <p>"Folosesc serul facial cu acid hialuronic și extract de struguri de două luni și diferența este vizibilă. Ridurile fine au devenit mai puțin evidente, iar pielea mea arată mai tânără și mai luminoasă. Un produs excelent care merită fiecare bănuț!"</p>
                            </div>
                            <div class="testimonial_author">
                                <div class="author_img">
                                    <img src="~/Content/images/client-img.png" alt="Victoria Moraru">
                                </div>
                                <div class="author_info">
                                    <h4>Victoria Moraru</h4>
                                    <p>Ungheni</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Alte tab-uri pentru categorii specifice -->
            <div class="tab-pane fade" id="face" role="tabpanel">
                <!-- Testimoniale pentru produse de îngrijire a feței -->
            </div>
            
            <div class="tab-pane fade" id="body" role="tabpanel">
                <!-- Testimoniale pentru produse de îngrijire a corpului -->
            </div>
            
            <div class="tab-pane fade" id="hair" role="tabpanel">
                <!-- Testimoniale pentru produse de îngrijire a părului -->
            </div>
        </div>
        
        <!-- Add Review Section -->
        <div class="add_review_section">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="review_form_container">
                        <h3 class="review_form_title">Împărtășește Experiența Ta</h3>
                        <form id="review_form">
                            <div class="form-group">
                                <label for="reviewName">Numele dvs.</label>
                                <input type="text" class="form-control" id="reviewName" required>
                            </div>
                            <div class="form-group">
                                <label for="reviewEmail">Email</label>
                                <input type="email" class="form-control" id="reviewEmail" required>
                            </div>
                            <div class="form-group">
                                <label for="reviewProduct">Produsul evaluat</label>
                                <select class="form-control" id="reviewProduct" required>
                                    <option value="">Selectați produsul</option>
                                    <option value="crema-hidratanta">Cremă hidratantă</option>
                                    <option value="masca-faciala">Mască facială</option>
                                    <option value="ser-facial">Ser facial</option>
                                    <option value="exfoliant-natural">Exfoliant natural</option>
                                    <option value="ulei-esential">Ulei esențial</option>
                                    <option value="crema-maini">Cremă de mâini</option>
                                    <option value="apa-micelara">Apă micelară</option>
                                    <option value="balsam-buze">Balsam de buze</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Evaluare</label>
                                <div class="rating_select">
                                    <i class="far fa-star" data-rating="1"></i>
                                    <i class="far fa-star" data-rating="2"></i>
                                    <i class="far fa-star" data-rating="3"></i>
                                    <i class="far fa-star" data-rating="4"></i>
                                    <i class="far fa-star" data-rating="5"></i>
                                </div>
                                <input type="hidden" id="reviewRating" value="0">
                            </div>
                            <div class="form-group">
                                <label for="reviewText">Recenzia dvs.</label>
                                <textarea class="form-control" id="reviewText" rows="5" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary submit_review_btn">Trimite Recenzia</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonials section end -->

<style>
/* Stiluri pentru secțiunea de testimoniale */
.testimonials_section {
    padding: 60px 0;
    background-color: #f8f9fa;
}

.testimonials_title {
    font-size: 32px;
    color: #333;
    margin-bottom: 15px;
}

.testimonials_subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 40px;
}

.testimonials_tabs {
    margin-bottom: 30px;
}

.testimonials_tabs .nav-tabs {
    border: none;
    display: flex;
    justify-content: center;
}

.testimonials_tabs .nav-link {
    border: none;
    color: #555;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.testimonials_tabs .nav-link:hover {
    color: #0d6efd;
}

.testimonials_tabs .nav-link.active {
    background-color: #0d6efd;
    color: white;
}

.testimonial_card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding: 25px;
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.testimonial_rating {
    margin-bottom: 15px;
    color: #ffc107;
    font-size: 18px;
}

.testimonial_text {
    margin-bottom: 20px;
}

.testimonial_text p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.testimonial_author {
    display: flex;
    align-items: center;
}

.author_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.author_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author_info h4 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.author_info p {
    font-size: 14px;
    color: #888;
    margin-bottom: 0;
}

/* Stiluri pentru formular de recenzie */
.add_review_section {
    margin-top: 60px;
}

.review_form_container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    padding: 30px;
}

.review_form_title {
    font-size: 24px;
    color: #333;
    margin-bottom: 25px;
    text-align: center;
}

.rating_select {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 24px;
}

.rating_select i {
    margin: 0 5px;
    cursor: pointer;
    color: #ccc;
    transition: all 0.2s ease;
}

.rating_select i:hover,
.rating_select i.fas {
    color: #ffc107;
}

.submit_review_btn {
    background-color: #0d6efd;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    margin: 0 auto;
}

.submit_review_btn:hover {
    background-color: #0b5ed7;
}
</style>

<script>
$(document).ready(function() {
    // Star rating functionality
    $('.rating_select i').click(function() {
        var rating = $(this).data('rating');
        $('#reviewRating').val(rating);
        
        // Update stars display
        $('.rating_select i').removeClass('fas').addClass('far');
        $('.rating_select i').each(function() {
            if ($(this).data('rating') <= rating) {
                $(this).removeClass('far').addClass('fas');
            }
        });
    });
    
    // Form submission
    $('#review_form').submit(function(e) {
        e.preventDefault();
        
        // Simple validation
        if ($('#reviewRating').val() === '0') {
            alert('Vă rugăm să selectați o evaluare.');
            return;
        }
        
        // Here you would normally send the data to the server
        alert('Mulțumim pentru recenzia dvs.! Aceasta va fi publicată după verificare.');
        
        // Reset form
        $('#review_form')[0].reset();
        $('.rating_select i').removeClass('fas').addClass('far');
        $('#reviewRating').val('0');
    });
});
</script>